:host::ng-deep {
    * {
        color: var(--text-light);
    }
    .container-fluid {
        background-image: url("https://images.unsplash.com/photo-1583307709855-88a955597645?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-size: cover;
        min-height: 700px;
    }
    .img-container {
        padding: 2px;
    }
    .img-container img {
        aspect-ratio: 1/1;
        width: 240px;
    }
    .delete-button {
        cursor: pointer;
    }
    .p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
        background: var(--home);
        border: none;
    }
    .p-button-secondary:hover {
        background: var(--home) !important;
        opacity: 0.8;
        
    }
    .p-button-secondary:hover > span,
    i:hover {
        color: white;
    }
    .dino-wrapper {
        background: var(--drop-down-darker);
    }
    .summary-wrapper {
        background: var(--drop-down-darker);
    }
    .info-container {
        font-size: 30px;
    }
    .item-wrapper {
        overflow-y: scroll;
        height: 400px;
    }
    @media (max-width: 768px) {
        .p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
            width: 100% !important;
            margin-left: 12px;
        }
    }
}