<div class="cont">
  <div class="dropdown">
    <button class="dropbtn">Хищници</button>
    <div class="dropdown-content">
      <li 
        *ngFor="let predator of predators"
        routerLink="dino-preview"
        [queryParams]="{ id: predator.id}">
        {{ predator.title }}
      </li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Тревопасни</button>
    <div class="dropdown-content">
      <li 
        *ngFor="let herb of herbivorous"
        routerLink="dino-preview"
        [queryParams]="{ id: herb.id}">
        {{ herb.title }}
      </li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Летящи</button>
    <div class="dropdown-content">
      <li 
        *ngFor="let fly of flying"
        routerLink="dino-preview"
        [queryParams]="{ id: fly.id}">
        {{ fly.title }}
      </li>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Водни</button>
    <div class="dropdown-content">
      <li 
        *ngFor="let aqua of aquatic"
        routerLink="dino-preview"
        [queryParams]="{ id: aqua.id}">
        {{ aqua.title }}
      </li>
    </div>
  </div>

  <div class="asd">
    <img src="assets/car.png" style="width: 53px; padding-top: 10px;" routerLink="cart" alt="car">
  </div>
  
    <button
    pButton
    label="Добави динозавър"
    class="p-button-secondary btnn"
    routerLink="dino-create"
    ></button> 

</div>


