<div class="container-sm">
    <div class="row">
        <div class="col">
            <form>
                <h3 class="my-5 text-center text-white">Детайли по поръчката</h3>
                <div class="form-floating my-3">
                    <input type="text"
                            name="title"
                            class="form-control"
                            placeholder="title"
                            formControlName="title">
                    <label for="title" >Име</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"
                            name="description"
                            class="form-control"
                            placeholder="description"
                            formControlName="description">
                    <label for="description" >Фамилия</label>
                </div>
                <div class="form-floating mb-3">
                        <div class="col-md">
                          <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
                            <label for="floatingInputGrid">Email адрес</label>
                          </div>
                        </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"
                            name="description"
                            class="form-control"
                            placeholder="description"
                            formControlName="description">
                    <label for="description" >Телефонен номер</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text"
                            name="description"
                            class="form-control"
                            placeholder="description"
                            formControlName="description">
                    <label for="description" >Адрес</label>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark mt-3 me-3" routerLink="/cart/preview">Потвърди</button>
                </div>
            </form>
        </div>
    </div>
</div>
